@keyframes fondo {
  0% {
    background-image: radial-gradient(#09f 1px, transparent 1px),
      radial-gradient(#09f 1px, transparent 1px);
  }
  50% {
    background-image: radial-gradient(#09f 1px, transparent 1px),
      radial-gradient(#09f 0px, transparent 0px);
  }
  100% {
    background-image: radial-gradient(#09f 0px, transparent 0px),
      radial-gradient(#09f 1px, transparent 1px);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: radial-gradient(#09f 1px, transparent 1px),
    radial-gradient(#09f 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  animation: fondo 0.8s infinite;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
